/* Images */

.img-1 {
   background-image: url("../img/img-4.jpg");
}
.img-2 {
   background-image: url("../img/img-3.jpg");
}
.img-3 {
   background-image: url("../img/img-6.jpg");
}
.img-4 {
   background-image: url("../img/img-1.jpg");
}
.img-5 {
   background-image: url("../img/img-7.jpg");
}
.img-6 {
   background-image: url("../img/img-5.jpg");
}
.img-7 {
   background-image: url("../img/img-2.jpg");
}
