/*----------------------

Global Styles

------------------------*/
html,
body {
  color: #141414;
  font: 14px/2 Nunito, Helevetica, arial;
  font-weight: 300;
  letter-spacing: 1px;
}

:active,
:focus {
  outline: none !important;
}

a,
a:focus,
a:hover {
  color: #141414;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 18px;
}

strong {
  font-weight: 400;
}

p {
  margin-bottom: 20px;
}

.no-padding {
  padding: 0;
}

section {
  padding: 104px 0;
}

section:nth-child(2n-1) {
  background-color: #f2f2f2;
}

/*----------------------

Navigation Styles

------------------------*/
.navbar-default {
  background-color: white;
  border-style: none;
}
.navbar-default .navbar-header .navbar-brand {
  color: #141414;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-toggle {
  border-style: none;
  margin-top: 9px;
  margin-bottom: 9px;
}
.navbar-default .navbar-header .navbar-toggle .icon-bar {
  background-color: #141414;
}
.navbar-default .navbar-header .navbar-toggle:focus, .navbar-default .navbar-header .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-header .navbar-toggle:focus .icon-bar, .navbar-default .navbar-header .navbar-toggle:hover .icon-bar {
  background-color: #141414;
}
.navbar-default .navbar-collapse {
  border-style: none;
}
.navbar-default .nav > li > a {
  color: #141414;
  font-weight: 400;
  padding: 12px 14px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.navbar-default .nav > li > a:focus, .navbar-default .nav > li > a:hover {
  background-color: #141414;
  color: white;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus,
.navbar-default .nav > li.active > a:hover {
  background-color: #141414;
  color: white;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 24px 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: white;
    font-size: 24px;
  }
  .navbar-default .nav > li {
    margin-left: 18px;
  }
  .navbar-default .nav > li > a {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    color: white;
  }
  .navbar-default .nav > li > a:focus, .navbar-default .nav > li > a:hover {
    background-color: transparent;
    border-bottom: 3px solid white;
    color: white;
  }
  .navbar-default .nav > li.active > a,
  .navbar-default .nav > li.active > a:focus,
  .navbar-default .nav > li.active > a:hover {
    background-color: transparent;
    border-bottom: 3px solid white;
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    padding: 0;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #141414;
    font-size: 18px;
  }
  .navbar-default.affix .nav > li > a {
    color: #141414;
  }
  .navbar-default.affix .nav > li > a:focus, .navbar-default.affix .nav > li > a:hover {
    border-bottom: 3px solid #141414;
    color: #141414;
  }
  .navbar-default.affix .nav > li.active > a,
  .navbar-default.affix .nav > li.active > a:focus,
  .navbar-default.affix .nav > li.active > a:hover {
    border-bottom: 3px solid #141414;
    color: #141414;
  }
}

/*----------------------

Carousels Styles

------------------------*/
#carousel-main,
#carousel-clients {
  position: relative;
  width: 100%;
}
#carousel-main .item,
#carousel-clients .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#carousel-main .item .item-bg,
#carousel-clients .item .item-bg {
  background-color: rgba(20, 20, 20, 0.5);
  padding: 154px 0 104px;
  position: relative;
  width: 100%;
}
#carousel-main .item .item-bg .inner,
#carousel-clients .item .item-bg .inner {
  color: white;
  text-align: center;
}
#carousel-main .item .item-bg h2,
#carousel-clients .item .item-bg h2 {
  font-size: 32px;
  margin-bottom: 28px;
}
#carousel-main .item .item-bg p,
#carousel-clients .item .item-bg p {
  font-size: 18px;
}
@media (min-width: 768px) {
  #carousel-main,
  #carousel-clients {
    min-height: 100vh;
  }
  #carousel-main .item .item-bg,
  #carousel-clients .item .item-bg {
    min-height: 100vh;
    padding: 0;
  }
  #carousel-main .item .item-bg .inner,
  #carousel-clients .item .item-bg .inner {
    margin-top: -110px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  #carousel-main .item .item-bg h2,
  #carousel-clients .item .item-bg h2 {
    font-size: 54px;
  }
}
#carousel-main .owl-controls,
#carousel-clients .owl-controls {
  bottom: 4%;
  margin-top: 0;
  position: absolute;
  width: 100%;
}
#carousel-main .owl-controls .owl-pagination .owl-page span,
#carousel-clients .owl-controls .owl-pagination .owl-page span {
  background-color: transparent;
  border: 2px solid white;
  height: 16px;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  width: 16px;
}
#carousel-main .owl-controls .owl-pagination .owl-page.active span,
#carousel-clients .owl-controls .owl-pagination .owl-page.active span {
  background-color: white;
}

#carousel-clients .item .item-bg {
  padding: 104px 0;
}
#carousel-clients .item .item-bg p {
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
#carousel-clients .item .item-bg p::before {
  color: rgba(255, 255, 255, 0.3);
  content: '\f10d';
  font-family: 'FontAwesome';
  font-size: 54px;
  font-style: normal;
  font-weight: normal;
  left: -10px;
  position: absolute;
  top: -50px;
}
#carousel-clients .item .item-bg .author strong {
  font-size: 16px;
}
@media (min-width: 768px) {
  #carousel-clients {
    min-height: auto;
  }
  #carousel-clients .item .item-bg {
    min-height: 440px;
    padding: 0;
  }
  #carousel-clients .item .item-bg .inner {
    margin-top: -80px;
  }
}

/*----------------------

Sections Styles

------------------------*/
@media (min-width: 768px) {
  #about {
    padding: 0;
  }
}

#video .video-box {
  list-style: none;
  margin: 0;
  padding: 0;
}
#video .video-box h3 {
  margin: 24px 0 0;
}
@media (min-width: 768px) {
  #video .video-box li {
    display: inline-block;
    vertical-align: middle;
  }
  #video .video-box h3 {
    margin: 0 0 0 24px;
  }
}

#clients {
  padding: 0;
}

.clients-comp img {
  margin: 50px auto;
}

#contact .contact-address {
  line-height: inherit;
}

/*----------------------

Two-column Styles

------------------------*/
section .two-column .content-column {
  margin-bottom: 84px;
}
section .two-column:last-of-type .content-column {
  margin-bottom: 0;
}
section .two-column .left.hidden-column,
section .two-column .right.hidden-column {
  display: none;
}
@media (min-width: 768px) {
  section .two-column {
    position: relative;
  }
  section .two-column .wrapper {
    height: 440px;
  }
  section .two-column .img-column {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  section .two-column .left.hidden-column,
  section .two-column .right.hidden-column {
    display: block;
  }
  section .two-column .left {
    float: left;
    height: 100%;
    width: 50%;
  }
  section .two-column .right {
    float: right;
    height: 100%;
    width: 50%;
  }
  section .two-column .content-column {
    left: 0;
    margin: 0 auto !important;
    position: absolute;
    right: 0;
    top: 104px;
  }
}

/*----------------------

Form Styles

------------------------*/
.form-group {
  margin-bottom: 20px;
}

input.form-control,
textarea.form-control {
  background-color: white;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 2px;
  color: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: inherit;
  line-height: inherit;
  padding: 20px 18px;
}
input.form-control:focus,
textarea.form-control:focus {
  border-bottom: 2px solid #141414;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

textarea {
  resize: none;
}

/*----------------------

Button Styles

------------------------*/
.btn-default {
  border: none;
  background-color: #141414;
  color: white;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  border: none;
  background-color: black !important;
  color: white !important;
}

.btn-primary {
  border: none;
  background-color: white;
  color: #141414;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
  border: none;
  background-color: #e6e6e6 !important;
  color: #141414 !important;
}

.btn {
  border-radius: 2px;
  font-size: inherit;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: inherit;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.btn:focus, .btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-xl {
  padding: 12px 22px;
}

.img-1 {
  background-image: url("../img/img-4.jpg");
}

.img-2 {
  background-image: url("../img/img-3.jpg");
}

.img-3 {
  background-image: url("../img/img-6.jpg");
}

.img-4 {
  background-image: url("../img/img-1.jpg");
}

.img-5 {
  background-image: url("../img/img-7.jpg");
}

.img-6 {
  background-image: url("../img/img-5.jpg");
}

.img-7 {
  background-image: url("../img/img-2.jpg");
}

/*# sourceMappingURL=skateboard.css.map */
