@import "variables";
@import "mixins";

// Global Styles

html,
body {
   color: $theme-dark;
   font: 14px/2 Nunito, Helevetica, arial;
   font-weight: 300;
   letter-spacing: 1px;
}

:active,
:focus {
   outline: none !important;
}

a,
a:focus,
a:hover {
   color: $theme-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 400;
   margin: 0 0 18px;
}

strong {
   font-weight: 400;
}

p {
   margin-bottom: 20px;
}

.no-padding {
   padding: 0;
}

section {
   padding: 104px 0;
   &:nth-child(2n) {
      background-color: $theme-bg;
   }
}

// Pre-loader

#pre-loader {
   background: url("../img/pre-loader.gif"), white;
   background-position: center center;
   background-repeat: no-repeat;
   height: 100%;
   left: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 9999999;
}

// Navigation Styles

.navbar-default {
   background-color: white;
   border-style: none;
   .navbar-header {
      .navbar-brand {
         color: $theme-dark;
         font-size: 18px;
         font-weight: 400;
         text-transform: uppercase;
      }
      .navbar-toggle {
         border-style: none;
         margin-top: 9px;
         margin-bottom: 9px;
         .icon-bar {
            background-color: $theme-dark;
         }
         &:focus,
         &:hover {
            background-color: transparent;
            .icon-bar {
               background-color: $theme-dark;
            }
         }
      }
   }
   .navbar-collapse {
      border-style: none;
   }
   .nav {
      > li {
         > a {
            color: $theme-dark;
            font-weight: 400;
            padding: 12px 14px;
            @include transition-all;
            &:focus,
            &:hover {
               background-color: $theme-dark;
               color: white;
            }
         }
         &.active {
            > a,
            > a:focus,
            > a:hover {
               background-color: $theme-dark;
               color: white;
            }
         }
      }
   }
   @media (min-width: 768px) {
      background-color: transparent;
      padding: 24px 0;
      @include transition-all;
      .navbar-header {
         .navbar-brand {
            color: white;
            font-size: 24px;
         }
      }
      .nav {
         > li {
            margin-left: 18px;
            > a {
               border-top: 3px solid transparent;
               border-bottom: 3px solid transparent;
               color: white;
               &:focus,
               &:hover {
                  background-color: transparent;
                  border-bottom: 3px solid white;
                  color: white;
               }
            }
            &.active {
               > a,
               > a:focus,
               > a:hover {
                  background-color: transparent;
                  border-bottom: 3px solid white;
                  color: white;
               }
            }
         }
      }
      &.affix {
         background-color: white;
         padding: 0;
         .navbar-header {
            .navbar-brand {
               color: $theme-dark;
               font-size: 18px;
            }
         }
         .nav {
            > li {
               > a {
                  color: $theme-dark;
                  &:focus,
                  &:hover {
                     border-bottom: 3px solid $theme-dark;
                     color: $theme-dark;
                  }
               }
               &.active {
                  > a,
                  > a:focus,
                  > a:hover {
                     border-bottom: 3px solid $theme-dark;
                     color: $theme-dark;
                  }
               }
            }
         }
      }
   }
}

// Carousels Styles

#carousel-main,
#carousel-clients {
   position: relative;
   width: 100%;
   .item {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .item-bg {
         background-color: rgba($theme-dark, .5);
         padding: 154px 0 104px;
         position: relative;
         width: 100%;
         .inner {
            color: white;
            text-align: center;
         }
         h2 {
            font-size: 32px;
            margin-bottom: 28px;
         }
         p {
            font-size: 18px;
         }
      }
   }
   @media (min-width: 768px) and (min-height: 590px) {
      min-height: 100vh;
      .item {
         .item-bg {
            min-height: 100vh;
            padding: 0;
            .inner {
               position: absolute;
               top: 50%;
               @include transform(translateY(-50%));
               width: 100%;
            }
            h2 {
               font-size: 54px;
            }
         }
      }
   }
   .owl-controls {
      bottom: 4%;
      margin-top: 0;
      position: absolute;
      width: 100%;
      .owl-pagination {
         .owl-page {
            span {
               background-color: transparent;
               border: 2px solid white;
               height: 16px;
               opacity: 1;
               @include transition-all;
               width: 16px;
            }
            &.active {
               span {
                  background-color: white;
               }
            }
         }
      }
   }
}

#carousel-clients {
   .item {
      .item-bg {
         padding: 104px 0;
         p {
            font-size: 22px;
            font-weight: 400;
            position: relative;
            &::before {
               color: rgba(white, .3);
               content: '\f10d';
               font-family: 'FontAwesome';
               font-size: 54px;
               font-style: normal;
               font-weight: normal;
               left: -10px;
               position: absolute;
               top: -50px;
            }
         }
         .author {
            strong {
               font-size: 16px;
            }
         }
      }
   }
   @media (min-width: 768px) and (min-height: 590px) {
      min-height: auto;
      .item {
         .item-bg {
            min-height: 540px;
            padding: 0;
         }
      }
   }
}

// Sections Styles

#about {
   @media (min-width: 768px) {
      padding: 0;
   }
   .two-column {
      .content-column {
         margin-bottom: 84px;
      }
      &:last-of-type {
         .content-column {
            margin-bottom: 0;
         }
      }
      .left,
      .right {
         &.hidden-column {
            display: none;
         }
      }
      @media (min-width: 768px) {
         position: relative;
         .wrapper {
            height: 540px;
         }
         .img-column {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
         }
         .left,
         .right {
            height: 100%;
            width: 50%;
            &.hidden-column {
               display: block;
            }
         }
         .left {
            float: left;
         }
         .right {
            float: right;
         }
         .content-column {
            left: 0;
            margin: 0 auto !important;
            position: absolute;
            right: 0;
            top: 50%;
            @include transform(translateY(-50%));
         }
      }
   }
}

#video {
   .video-box {
      list-style: none;
      margin: 0;
      padding: 0;
      h3 {
         margin: 24px 0 0;
      }
      @media (min-width: 768px) {
         li {
            display: inline-block;
            vertical-align: middle;
         }
         h3 {
            margin: 0 0 0 24px;
         }
      }
   }
}

#clients {
   padding: 0;
}

aside.clients-comp {
   img {
      margin: 50px auto;
   }
}

#contact {
   .contact-address {
      line-height: inherit;
   }
   .ico-contact {
      font-size: 16px;
      margin-right: 12px;
   }
}

// Footer Styles

footer {
   background-color: white;
   padding: 20px 0;
   @media (max-width: 768px) {
      text-align: center;
   }
   .ico-love {
      font-size: 16px;
   }
   .footer-social {
      list-style: none;
      margin: 20px 0 0 0;
      padding: 0;
      @media (min-width: 768px) {
         margin-top: 0;
         text-align: right;
      }
      li {
         display: inline-block;
         margin-left: 18px;
         &:first-child {
            margin-left: 0;
         }
         i {
            font-size: 18px;
            line-height: normal;
         }
      }
   }
}

// Form Styles

.form-group {
   margin-bottom: 20px;
}

input,
textarea {
   &.form-control {
      background-color: white;
      border: none;
      border-bottom: 3px solid transparent;
      border-radius: 2px;
      color: inherit;
      @include box-shadow(none);
      font-size: inherit;
      height: auto;
      line-height: inherit;
      padding: 12px 18px;
      &:focus {
         border-bottom: 3px solid $theme-dark;
         @include box-shadow(none);
      }
   }
}

textarea {
   resize: none;
}

// Buttons Styles

.btn-default {
   @include btn-variant($theme-dark, white);
}

.btn-primary {
   @include btn-variant(white, $theme-dark);
}

.btn {
   border-radius: 2px;
   font-size: inherit;
   font-weight: 400;
   letter-spacing: 2px;
   line-height: inherit;
   @include transition-all();
   &:focus,
   &:hover {
      @include box-shadow(none);
   }
}

.btn-xl {
   padding: 12px 22px;
}
